<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/app.js" type="text/javascript" defer></script>
  <title>About Page</title>
</head>
<body>
  {{>header}}
  <h2>My name is {{name}} and I'm a {{profession}}</h2>
  {{>footer}}
</body>
</html>
